<div class='jumbotron'>
  <h1>Spacr</h1>
  <p>An app that corrects English text so that it contains exactly one space after a period between sentences.</p>
  <%= link_to 'Submit your text', '#', class: 'btn btn-primary btn-lg' %>
</div>
