<div class='jumbotron'>
  <h1><i class="fa fa-file-text" aria-hidden="true"></i> 1Space</h1>
  <p>An app that removes extra spaces from any English text.</p>

</div class='form-control'>
  <%= form_tag('api/v1/texts', id: 'text-form', remote:true) do %>
    <%= text_area_tag :text, params[:text], :maxlength => 30000, :required => 'required', class: 'form-control', id: 'text-area', :rows => 10 %>
    <%= submit_tag 'Submit your text', class: 'btn btn-primary btn-lg btn-block' %></div>
  <% end %>
</div>
